<ul>
    <li><a asp-controller="Home" asp-action="Index">@Html.Raw("@Html.EndForm")</a></li>
    <li><a asp-controller="Home" asp-action="Index">@Html.Raw("@Html.TextBox")</a></li>
    <li><a asp-controller="Home" asp-action="Index">@Html.Raw("@Html.TextArea")</a></li>
    <li><a asp-controller="Home" asp-action="Index">@Html.Raw("@Html.Password")</a></li>
    <li><a asp-controller="Home" asp-action="Index">@Html.Raw("@Html.Hidden")</a></li>
    <li><a asp-controller="Home" asp-action="Index">@Html.Raw("@Html.CheckBox")</a></li>
    <li><a asp-controller="Home" asp-action="Index">@Html.Raw("@Html.RadioButton")</a></li>
    <li><a asp-controller="Home" asp-action="Index">@Html.Raw("@Html.DropDownList")</a></li>
    <li><a asp-controller="Home" asp-action="Index">@Html.Raw("@Html.ListBox")</a></li>
</ul>